<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Login</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="fullscreen">
<div class="body">
	<form action="" method="post" class="login_form">
		<label for="username">Username:</label>
		<input type="text" id="username" placeholder="Username here..." / required>
		<label for="password">Password:</label>
		<input type="password" id="password" placeholder="Password here..." / required>
		<button>Login</button>
	</form>
	
	<div class="panda-face">
    <div class="blush-l"></div>
    <div class="blush-r"></div>
    <div class="eye-l">
      <div class="eyeball-l"></div>
    </div>
     <div class="eye-r">
     	<div class="eyeball-r"></div>
     </div>
     <div class="nose">
      <div class="nose-line"></div>
     </div>
     <div class="mouth-l"></div>
     <div class="mouth-r"></div>
  </div>
	
  <div class="ear-l"></div>
  <div class="ear-r"></div>

  <div class="hand-l"></div>
  <div class="hand-r"></div>

  <div class="paw-l">
    <div class="paw-l-left"></div>
    <div class="paw-l-circle"></div>
  </div>
  <div class="paw-r">
    <div class="paw-r-right"></div>
    <div class="paw-r-circle"></div>
  </div>

</div>
  </div>
   
  <script src="../javascripts/login_scripts.js"></script>
</body>
</html>